<div>
    <a href="/"><img src="/media/Normal.png" alt="IMC Logo" class="logo" /></a>
</div>
<div class="split">
    <div>
        <span class="header">Places</span>
        <a href="/" class="location">IMC homepage</a>
        <a href="/play/" class="location">IMC Play</a>
    </div>
    <div>
        <span class="header">Services</span>
        <a href="/LiveCloud/" class="location">IMC LiveCloud</a>
    </div>
    <div>
        <span class="header">Social</span>
        <a href="https://www.youtube.com/channel/UCTNK7m-6gI4QYU51DmfaYkw/" target="_blank" class="location">YouTube</a>
        <a href="https://github.com/IMC-Network/" target="_blank" class="location">GitHub</a>
    </div>
    <div>
        <span class="header">Site</span>
        <a href="#" class="location">About</a>
        <a href="#" class="location">Terms of Service</a>
        <a href="#" class="location">Privacy Policy</a>
    </div>
</div>
<div class="copyright">
    Copyright &copy; IMC. All Rights Reserved.
</div>